<a href="https://colab.research.google.com/github/leaop/Graduation/blob/main/exercicios_mod.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('titanic.csv')

A base de dados Titanic representa informações sobre os passageiros do navio Titanic, que naufragou em 1912. A base contém informações como a classe em que o passageiro viajou, o sexo, a idade, o número de irmãos/cônjuges a bordo, o número de pais/filhos a bordo, a tarifa paga, o porto de embarque, se sobreviveu ou não, entre outras.

# 1 - Qual a quantidade de passageiros que sobreviveram e que não sobreviveram?

In [ ]:
#informação das primeiras linhas e colunas
df.head()

,Sobreviveu,Classe,Nome,Sexo,Idade,Irmãos/Cônjuges a bordo,Pais/Filhos a bordo,Tarifa
0,Não,Terceira,Mr. Owen Harris Braund,Masculino,22.0,1,0,7.2500
1,Sim,Primeira,Mrs. John Bradley (Florence Briggs Thayer) Cum...,Feminino,38.0,1,0,71.2833
2,Sim,Terceira,Miss. Laina Heikkinen,Feminino,26.0,0,0,7.9250
3,Sim,Primeira,Mrs. Jacques Heath (Lily May Peel) Futrelle,Feminino,35.0,1,0,53.1000
4,Não,Terceira,Mr. William Henry Allen,Masculino,35.0,0,0,8.0500

In [ ]:
#Contagem dos valores da coluna desejada
df.Sobreviveu.value_counts()

Não    545
Sim    342
Name: Sobreviveu, dtype: int64

# 2 - Qual a porcentagem de homens e a porcentagem de mulheres que sobreviveram?

In [ ]:
#loc - trava em determinada coluna
#seleção da coluna e dos valores feitas parar estabelecer uma correlação
#shape normalmente retorna a quantidade de registro[0], linhas[1] e colunas[2]
#atribuo uma variável somente com a quantidade de registro e faço a formula depois
total_fem_sob = df.loc[(df['Sexo'] == 'Feminino' ) & (df['Sobreviveu'] == 'Sim')].shape[0]
total_fem =  df.loc[(df['Sexo'] == 'Feminino')].shape[0]

total_fem_sob * 100 / total_fem

74.20382165605096

In [ ]:
total_mas_sob = df.loc[(df['Sexo'] == 'Masculino') & (df['Sobreviveu'] == 'Sim')].shape[0]
total_mas = df.loc[(df['Sexo'] == 'Masculino')].shape[0]

total_mas_sob * 100 / total_fem

34.71337579617835

# 3 - Qual a idade média dos passageiros?

In [ ]:
#chamo uma variável e dou a ela a media de 
media_idade = df['Idade'].mean()
print(media_idade)

29.471443066516347

# 4 - Qual a tarifa média paga pelos passageiros?

In [ ]:
media_tarifa = df['Tarifa'].mean()
print(media_tarifa)

32.30542018038331

# 5 - Qual a correlação entre a idade e a tarifa paga?

In [ ]:
df.corr(method = 'pearson')

,Idade,Irmãos/Cônjuges a bordo,Pais/Filhos a bordo,Tarifa
Idade,1.000000,-0.297669,-0.193741,0.112329
Irmãos/Cônjuges a bordo,-0.297669,1.000000,0.414244,0.158839
Pais/Filhos a bordo,-0.193741,0.414244,1.000000,0.215470
Tarifa,0.112329,0.158839,0.215470,1.000000

# 6 - Qual a correlação entre a classe em que o passageiro viajou e a chance de sobrevivência?

In [ ]:
cor = df[["Classe", "Sobreviveu"]].corr

In [ ]:
print(cor)

<bound method DataFrame.corr of        Classe Sobreviveu
0    Terceira        Não
1    Primeira        Sim
2    Terceira        Sim
3    Primeira        Sim
4    Terceira        Não
..        ...        ...
882   Segunda        Não
883  Primeira        Sim
884  Terceira        Não
885  Primeira        Sim
886  Terceira        Não

[887 rows x 2 columns]>

# 7 - Qual o número médio de irmãos/cônjuges a bordo para quem sobreviveu e para quem não sobreviveu?

In [ ]:
irmaos = df.loc[(df['Irmãos/Cônjuges a bordo']) & (df['Sobreviveu'] == 'Sim')].shape[0]

print('irmaos')

irmaos

# 8 - Qual o número médio de pais/filhos a bordo para quem sobreviveu e para quem não sobreviveu?

# 9 - Qual a relação entre a tarifa paga e a chance de sobrevivência?

# 10 - Qual o porto de embarque que teve mais passageiros a bordo?

# 11 - Faça uma análise exploratória dos dados

# 12 - Faça o tratamento dos dados:
- apagar colunas que não sejam relevantes para o modelo (qual(is) seria(m) esta(s) coluna(s)?)

- Converter os valores textuais em numéricos (não existe somente uma forma para isto, mas já aprendemos a usar a função loc..)

# 13 - Separe os dados em X e y de treinamento e teste.

Note que a nossa classe alvo é a primeiro coluna, que informa se o passageiro sobreviveu ou não

# 14 - Normalize apenas os atributos (X).

# 15 - Use algum modelo de machine learning para prever a classe alvo

# 16 - Exiba a acurácia e a matriz de confusão