<a href="https://colab.research.google.com/github/leaop/Graduation/blob/main/exercicios_aula_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

df = pd.read_csv('titanic.csv')

A base de dados Titanic representa informações sobre os passageiros do navio Titanic, que naufragou em 1912. A base contém informações como a classe em que o passageiro viajou, o sexo, a idade, o número de irmãos/cônjuges a bordo, o número de pais/filhos a bordo, a tarifa paga, o porto de embarque, se sobreviveu ou não, entre outras.

# 1 - Qual a quantidade de passageiros que sobreviveram e que não sobreviveram?

In [4]:
df.head()

,Sobreviveu,Classe,Nome,Sexo,Idade,Irmãos/Cônjuges a bordo,Pais/Filhos a bordo,Tarifa
0,Não,Terceira,Mr. Owen Harris Braund,Masculino,22.0,1,0,7.2500
1,Sim,Primeira,Mrs. John Bradley (Florence Briggs Thayer) Cum...,Feminino,38.0,1,0,71.2833
2,Sim,Terceira,Miss. Laina Heikkinen,Feminino,26.0,0,0,7.9250
3,Sim,Primeira,Mrs. Jacques Heath (Lily May Peel) Futrelle,Feminino,35.0,1,0,53.1000
4,Não,Terceira,Mr. William Henry Allen,Masculino,35.0,0,0,8.0500

In [5]:
df.Sobreviveu.value_counts()

Sobreviveu
Não    545
Sim    342
Name: count, dtype: int64

# 2 - Qual a porcentagem de homens e a porcentagem de mulheres que sobreviveram?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sobreviveu               887 non-null    object
 1   Classe                   887 non-null    object
 2   Nome                     887 non-null    object
 3   Sexo                     887 non-null    object
 4   Idade                    887 non-null    float64
 5   Irmãos/Cônjuges a bordo  887 non-null    int64
 6   Pais/Filhos a bordo      887 non-null    int64
 7   Tarifa                   887 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 55.6+ KB

In [13]:
df.loc[df['Sexo'] == 'Feminino', 'Sexo'] = 0
df.loc[df['Sexo'] == 'Masculino', 'Sexo'] = 1
df.loc[df['Sobreviveu'] == 'Sim', 'Sobreviveu'] = 1
df.loc[df['Sobreviveu'] == 'Não', 'Sobreviveu'] = 0

In [14]:
df['Sexo'] = df['Sexo'].astype(int)
df['Sobreviveu'] = df['Sobreviveu'].astype(int)

In [15]:
#primeira opção de groupby (média de sobreviventes)
media_sobrevivencia_por_genero = df.groupby('Sexo')['Sobreviveu'].mean()
print(media_sobrevivencia_por_genero)

Sexo
0    0.742038
1    0.190227
Name: Sobreviveu, dtype: float64

In [16]:
# Filtrar os dados para obter apenas as linhas onde 'survived' é igual a 1 (sobreviventes)
sobreviventes = df[df['Sobreviveu'] == 1]

# Calcular o total de homens e mulheres sobreviventes
total_homens_sobreviventes = sobreviventes[sobreviventes['Sexo'] == 0].shape[0]
total_mulheres_sobreviventes = sobreviventes[sobreviventes['Sexo'] == 1].shape[0]

# Calcular a porcentagem de homens e mulheres sobreviventes em relação ao total de sobreviventes
porcentagem_homens_sobreviventes = (total_homens_sobreviventes / sobreviventes.shape[0]) * 100
porcentagem_mulheres_sobreviventes = (total_mulheres_sobreviventes / sobreviventes.shape[0]) * 100

# Exibir os resultados
print(f"Porcentagem de homens sobreviventes: {porcentagem_homens_sobreviventes:.2f}%")
print(f"Porcentagem de mulheres sobreviventes: {porcentagem_mulheres_sobreviventes:.2f}%")

Porcentagem de homens sobreviventes: 68.13%
Porcentagem de mulheres sobreviventes: 31.87%

In [25]:
# Contar o número de ocorrências de homens e mulheres
counts = df['Sexo'].value_counts()

# Calcular a porcentagem de sobreviventes homens e mulheres
survival_rates_male = (df.loc[(df['Sexo'] == 1) & (df['Sobreviveu'] == 1), 'Sexo'].count() / counts[1]) * 100
survival_rates_female = (df.loc[(df['Sexo'] == 0) & (df['Sobreviveu'] == 1), 'Sexo'].count() / counts[0]) * 100

# Exibir as taxas de sobrevivência
print(f"Porcentagem de homens que sobreviveram: {survival_rates_male:.2f}%")
print(f"Porcentagem de mulheres que sobreviveram: {survival_rates_female:.2f}%")

Porcentagem de homens que sobreviveram: 19.02%
Porcentagem de mulheres que sobreviveram: 74.20%

# 3 - Qual a idade média dos passageiros?

In [7]:
df['Idade'].describe()

count    887.000000
mean      29.471443
std       14.121908
min        0.420000
25%       20.250000
50%       28.000000
75%       38.000000
max       80.000000
Name: Idade, dtype: float64

In [8]:
df['Idade'].mean()

29.471443066516347

# 4 - Qual a tarifa média paga pelos passageiros?

In [9]:
df['Tarifa'].describe()

count    887.00000
mean      32.30542
std       49.78204
min        0.00000
25%        7.92500
50%       14.45420
75%       31.13750
max      512.32920
Name: Tarifa, dtype: float64

# 5 - Qual a correlação entre a idade e a tarifa paga?

In [10]:
correlation = df['Idade'].corr(df['Tarifa'])
print(f"Correlação entre idade e tarifa paga: {correlation:.2f}")

Correlação entre idade e tarifa paga: 0.11

Como podemos interpretar os valores que ρ pode assumir?

- ρ = 0,9 a 1 (positivo ou negativo): correlação muito forte;
- ρ= 0,7 a 09 (positivo ou negativo): correlação forte;
- ρ = 0,5 a 0,7 (positivo ou negativo): correlação moderada;
- ρ = 0,3 a 0,5 (positivo ou negativo): correlação fraca;
- ρ = 0 a 0,3 (positivo ou negativo): não possui correlação

# 6 - Qual a correlação entre a classe em que o passageiro viajou e a chance de sobrevivência?

In [12]:
#correlacao_pearson = df['Classe'].corr(df['Sobreviveu'], method='pearson')

# 7 - Qual o número médio de irmãos/cônjuges a bordo para quem sobreviveu e para quem não sobreviveu?

In [17]:
df7 = df[['Irmãos/Cônjuges a bordo', 'Sobreviveu']]

In [21]:
# Calcular a média de 'sibsp' para quem sobreviveu e para quem não sobreviveu
media_sobreviveu = df7.loc[df7['Sobreviveu'] == 1, 'Irmãos/Cônjuges a bordo'].mean()
media_nao_sobreviveu = df7.loc[df7['Sobreviveu'] == 0, 'Irmãos/Cônjuges a bordo'].mean()

print("Média de irmãos/cônjuges a bordo para quem sobreviveu: ", media_sobreviveu)
print("Média de irmãos/cônjuges a bordo para quem não sobreviveu: ", media_nao_sobreviveu)

Média de irmãos/cônjuges a bordo para quem sobreviveu:  0.47368421052631576
Média de irmãos/cônjuges a bordo para quem não sobreviveu:  0.5577981651376147

# 8 - Qual o número médio de pais/filhos a bordo para quem sobreviveu e para quem não sobreviveu?

# 9 - Qual a relação entre a tarifa paga e a chance de sobrevivência?

# 10 - Qual o porto de embarque que teve mais passageiros a bordo?

# 11 - Faça uma análise exploratória dos dados

# 12 - Faça o tratamento dos dados:
- apagar colunas que não sejam relevantes para o modelo (qual(is) seria(m) esta(s) coluna(s)?)

- Converter os valores textuais em numéricos (não existe somente uma forma para isto, mas já aprendemos a usar a função loc..)

# 13 - Separe os dados em X e y de treinamento e teste.

Note que a nossa classe alvo é a primeiro coluna, que informa se o passageiro sobreviveu ou não

# 14 - Normalize apenas os atributos (X).

# 15 - Use algum modelo de machine learning para prever a classe alvo

# 16 - Exiba a acurácia e a matriz de confusão