# Iniciando estado do notebook
---

In [1]:
# instalar as dependências
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()

# Carregamento de Dados
---

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

In [ ]:
data = [('Zeca','35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']
df = spark.createDataFrame(data, colNames)
df

DataFrame[Nome: string, Idade: string]

In [ ]:
df.show()

+----+-----+
|Nome|Idade|
+----+-----+
|Zeca|   35|
| Eva|   29|
+----+-----+

### Montando nosso drive

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
empresas_path = '/content/drive/MyDrive/Disciplinas/FundamentosDeBigData/modulo-pyspark/empresas'
empresas = spark.read.csv(empresas_path, sep=';', inferSchema=True)
estab_path = '/content/drive/MyDrive/Disciplinas/FundamentosDeBigData/modulo-pyspark/estabelecimentos'
estabelecimentos = spark.read.csv(estab_path, sep=';', inferSchema=True)
socios_path = '/content/drive/MyDrive/Disciplinas/FundamentosDeBigData/modulo-pyspark/socios'
socios = spark.read.csv(socios_path, sep=';', inferSchema=True)

# Sanitização dos Dados
---

### Renomeando as colunas do DataFrame

In [7]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

In [8]:
for index, colName in enumerate(empresasColNames):
    empresas = empresas.withColumnRenamed(f"_c{index}", colName)

In [9]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

In [10]:
for index, colName in enumerate(estabsColNames):
    estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{index}", colName)

In [11]:
sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [12]:
for index, colName in enumerate(sociosColNames):
    socios = socios.withColumnRenamed(f"_c{index}", colName)

## Modificando os tipos de dados

[Functions](https://spark.apache.org/docs/3.1.2/api/python/reference/pyspark.sql.html#functions)

[withColumn](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.withColumn.html)

### Convertendo String ➔ Double

#### `StringType ➔ DoubleType`

In [13]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [14]:
empresas = empresas.withColumn('capital_social_da_empresa', f.regexp_replace('capital_social_da_empresa', ',', '.'))
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,306,FRANCAMAR REFRIGERACAO TECNICA S/C LTDA,2240,49,0.00,1,None
1,1355,BRASILEIRO & OLIVEIRA LTDA,2062,49,0.00,5,None
2,4820,"REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...",3034,32,0.00,5,None
3,5347,ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS,2135,50,0.00,5,None
4,6846,BADU E FILHOS TECIDOS LTDA,2062,49,4000.00,1,None

In [15]:
empresas = empresas.withColumn('capital_social_da_empresa', empresas['capital_social_da_empresa'].cast(DoubleType()))
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,306,FRANCAMAR REFRIGERACAO TECNICA S/C LTDA,2240,49,0.0,1,None
1,1355,BRASILEIRO & OLIVEIRA LTDA,2062,49,0.0,5,None
2,4820,"REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...",3034,32,0.0,5,None
3,5347,ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS,2135,50,0.0,5,None
4,6846,BADU E FILHOS TECIDOS LTDA,2062,49,4000.0,1,None

In [ ]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

### Convertendo String ➔ Date

#### `StringType ➔ DateType`

[Datetime Patterns](https://spark.apache.org/docs/3.1.2/sql-ref-datetime-pattern.html)

In [16]:
estabelecimentos = estabelecimentos\
    .withColumn(
        "data_situacao_cadastral",
        f.to_date(estabelecimentos.data_situacao_cadastral.cast(StringType()), 'yyyyMMdd')
    )\
    .withColumn(
        "data_de_inicio_atividade",
        f.to_date(estabelecimentos.data_de_inicio_atividade.cast(StringType()), 'yyyyMMdd')
    )\
    .withColumn(
        "data_da_situacao_especial",
        f.to_date(estabelecimentos.data_da_situacao_especial.cast(StringType()), 'yyyyMMdd')
    )

In [ ]:
estabelecimentos.limit(5).toPandas()

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,1879,1,96,1,PIRAMIDE M. C.,8,2001-10-29,1,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,None
1,2818,1,43,1,None,8,2008-12-31,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,None
2,3110,1,7,1,None,8,1997-12-31,1,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,None
3,3733,1,80,1,None,8,2008-12-31,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,None
4,4628,3,27,2,EMBROIDERY & GIFT,8,1998-04-29,1,None,NaN,...,7075,None,None,None,None,NaN,None,None,None,None

In [17]:
socios = socios\
    .withColumn(
        "data_de_entrada_sociedade",
        f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd')
    )

In [ ]:
socios.limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

# Seleções e consultas
---

## Selecionando informações

[DataFrame.select(*cols)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.select.html)

In [ ]:
empresas\
    .select('*')\
    .show(10, truncate=False)

+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                                                               |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|306        |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                         |0.0                      |1               |null                       |
|1355       |BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                         |0.0                      |5               |null                       |
|4820       |REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                         |0.0                      |5               |null                       |
|5347       |ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                         |0.0                      |5               |null                       |
|6846       |BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                         |4000.0                   |1               |null                       |
|8416       |ELETRICA RUBI LTDA                                                                          |2062             |49                         |0.0                      |5               |null                       |
|8992       |SHIROMA VEICULOS LTDA.                                                                      |2062             |49                         |0.0                      |5               |null                       |
|9091       |CONTATOS BAR E LANCHONETE LTDA                                                              |2062             |49                         |0.0                      |5               |null                       |
|9614       |ANTONIA APARECIDA DE SOUZA ULIANA                                                           |2135             |50                         |0.0                      |5               |null                       |
|9896       |DORACY CORAT DA COSTA                                                                       |2135             |50                         |0.0                      |5               |null                       |
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 10 rows

In [ ]:
socios.select(f.year('data_de_entrada_sociedade')\
              .alias('ano_de_entrada')).show()

+--------------+
|ano_de_entrada|
+--------------+
|          1994|
|          1994|
|          1994|
|          1994|
|          1994|
|          1994|
|          1997|
|          2009|
|          1994|
|          1994|
|          1994|
|          1994|
|          1994|
|          1996|
|          1996|
|          1994|
|          1994|
|          1994|
|          2009|
|          1982|
+--------------+
only showing top 20 rows

In [ ]:
empresas\
    .select('natureza_juridica', 'data_entrada_sociedade', 'capital_social_da_empresa')\
    .show(5)

+-----------------+----------------+-------------------------+
|natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+-----------------+----------------+-------------------------+
|             2240|               1|                      0.0|
|             2062|               5|                      0.0|
|             3034|               5|                      0.0|
|             2135|               5|                      0.0|
|             2062|               1|                   4000.0|
+-----------------+----------------+-------------------------+
only showing top 5 rows

In [ ]:
socios\
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .show(5, truncate=False)

+-------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social  |faixa_etaria|ano_de_entrada|
+-------------------------------+------------+--------------+
|LILIANA PATRICIA GUASTAVINO    |7           |1994          |
|CRISTINA HUNDERTMARK           |7           |1994          |
|CELSO EDUARDO DE CASTRO STEPHAN|8           |1994          |
|EDUARDO BERRINGER STEPHAN      |5           |1994          |
|HANNE MAHFOUD FADEL            |8           |1994          |
+-------------------------------+------------+--------------+
only showing top 5 rows

## Faça como eu fiz

In [ ]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [ ]:
visao_data_atv = estabelecimentos.select('nome_fantasia',
                        'municipio',
                        'data_de_inicio_atividade',
                        f.year('data_de_inicio_atividade').alias('ano_de_inicio_atividade'),
                        f.month('data_de_inicio_atividade').alias('mes_de_inicio_atividade'))
# select() # Seleções no DataFrame de entrada
# f.year() # Coleta ano de uma data
# f.month() # Coleta mes de uma data
# .alias() # Renomeação de coluna

In [ ]:
visao_data_atv.select('municipio').show()

+---------+
|municipio|
+---------+
|     7107|
|     7107|
|     7107|
|     7107|
|     7075|
|     7075|
|     7075|
|     7075|
|     7107|
|     7107|
|     6163|
|     7107|
|     6117|
|     6607|
|     7079|
|     7107|
|     7107|
|     6001|
|     7145|
|     9295|
+---------+
only showing top 20 rows

## Identificando valores nulos

In [ ]:
df = spark.createDataFrame([(1,), (2,), (3,), (None,)], ['data'])
df.toPandas()

   data
0   1.0
1   2.0
2   3.0
3   NaN

In [ ]:
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|null|
+----+

In [ ]:
df = spark.createDataFrame([(1.,), (2.,), (3.,), (float('nan'),)], ['data'])
df.toPandas()

   data
0   1.0
1   2.0
2   3.0
3   NaN

In [ ]:
df.show()

+----+
|data|
+----+
| 1.0|
| 2.0|
| 3.0|
| NaN|
+----+

In [ ]:
df = spark.createDataFrame([('1',), ('2',), ('3',), (None,)], ['data'])
df.toPandas()

   data
0     1
1     2
2     3
3  None

In [ ]:
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|null|
+----+

In [ ]:
socios.limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

In [ ]:
socios.limit(5).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|        411|                     2|         LILIANA PATRICIA ...|         ***678188**|                   22|               1994-07-25|null|        ***000000**|                 null|                                  0|           7|
|        411|                     2|         CRISTINA HUNDERTMARK|         ***637848**|                   28|               1994-07-25|null|        ***000000**|                 null|                                  0|           7|
|       5813|                     2|         CELSO EDUARDO DE ...|         ***786068**|                   49|               1994-05-16|null|        ***000000**|                 null|                                  0|           8|
|       5813|                     2|         EDUARDO BERRINGER...|         ***442348**|                   49|               1994-05-16|null|        ***000000**|                 null|                                  0|           5|
|      14798|                     2|          HANNE MAHFOUD FADEL|         ***760388**|                   49|               1994-06-09|null|        ***000000**|                 null|                                  0|           8|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+

In [ ]:
# Abrindo a list comprenhension
# lista = [f.count(f.when(f.isnull(c), True)).alias(c) for c in socios.columns]

lista = []
for c in socios.columns:
  lista.append(f.count(f.when(f.isnull(c), 1)).alias(c))
lista

[Column<'count(CASE WHEN (cnpj_basico IS NULL) THEN 1 END) AS `cnpj_basico`'>,
 Column<'count(CASE WHEN (identificador_de_socio IS NULL) THEN 1 END) AS `identificador_de_socio`'>,
 Column<'count(CASE WHEN (nome_do_socio_ou_razao_social IS NULL) THEN 1 END) AS `nome_do_socio_ou_razao_social`'>,
 Column<'count(CASE WHEN (cnpj_ou_cpf_do_socio IS NULL) THEN 1 END) AS `cnpj_ou_cpf_do_socio`'>,
 Column<'count(CASE WHEN (qualificacao_do_socio IS NULL) THEN 1 END) AS `qualificacao_do_socio`'>,
 Column<'count(CASE WHEN (data_de_entrada_sociedade IS NULL) THEN 1 END) AS `data_de_entrada_sociedade`'>,
 Column<'count(CASE WHEN (pais IS NULL) THEN 1 END) AS `pais`'>,
 Column<'count(CASE WHEN (representante_legal IS NULL) THEN 1 END) AS `representante_legal`'>,
 Column<'count(CASE WHEN (nome_do_representante IS NULL) THEN 1 END) AS `nome_do_representante`'>,
 Column<'count(CASE WHEN (qualificacao_do_representante_legal IS NULL) THEN 1 END) AS `qualificacao_do_representante_legal`'>,
 Column<'count(CASE WHEN (faixa_etaria IS NULL) THEN 1 END) AS `faixa_etaria`'>]

In [ ]:
lista_de_colunas = ['data_de_entrada_sociedade', 'data_de_entrada_sociedade']
socios.select([f.year(c).alias(c) for c in lista_de_colunas]).show()
# socios.select(lista).show()

+-------------------------+-------------------------+
|data_de_entrada_sociedade|data_de_entrada_sociedade|
+-------------------------+-------------------------+
|                     1994|                     1994|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1997|                     1997|
|                     2009|                     2009|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1996|                     1996|
|                     1996|                     1996|
|                     1994|                     1994|
|                     1994|                     1994|
|                     1994|                     1994|
|                     2009|                     2009|
|                     1982|                     1982|
+-------------------------+-------------------------+
only showing top 20 rows

In [ ]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,411,2,LILIANA PATRICIA GUASTAVINO,***678188**,22,1994-07-25,NaN,***000000**,None,0,7
1,411,2,CRISTINA HUNDERTMARK,***637848**,28,1994-07-25,NaN,***000000**,None,0,7
2,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49,1994-05-16,NaN,***000000**,None,0,8
3,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49,1994-05-16,NaN,***000000**,None,0,5
4,14798,2,HANNE MAHFOUD FADEL,***760388**,49,1994-06-09,NaN,***000000**,None,0,8

In [ ]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [ ]:
socios.na.fill(0).orderBy('pais', ascending=False).show(truncate=False)

+-----------+----------------------+---------------------------------------------+--------------------+---------------------+-------------------------+----+-------------------+------------------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social                |cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante         |qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+---------------------------------------------+--------------------+---------------------+-------------------------+----+-------------------+------------------------------+-----------------------------------+------------+
|26764428   |1                     |KINOX INVESTMENTS LTD.                       |33423049000106      |37                   |2020-07-31               |866 |***468087**        |ROBERTO DUQUE ESTRADA DE SOUSA|17                                 |0           |
|13919654   |1                     |AVA TELECOM CORP                             |14729002000120      |37                   |2016-09-02               |866 |***027118**        |EDUARDO RIBAS ORNAGHI DE LIMA |17                                 |0           |
|12315542   |1                     |INVESTMENTS REAL ESTATE IN LATIN AMERICA LTD.|12268274000145      |37                   |2010-04-19               |863 |***530177**        |LAERTH LUIZ DA SILVA DE AMORIM|17                                 |0           |
|41301819   |1                     |MATI RIVER LTD.                              |39979987000173      |79                   |2021-03-22               |863 |***175936**        |RODRIGO ALMEIDA ARAUJO        |17                                 |0           |
|2227773    |1                     |STAR OVERSEAS VENTURES LTD.                  |08897247000164      |37                   |2005-02-11               |863 |***674503**        |JOSE CASTELO BRANCO DA CRUZ   |17                                 |0           |
|2580310    |3                     |FLORENCE VENTURES INC.                       |null                |37                   |2002-05-02               |863 |***648509**        |REMY NADIR ROY                |17                                 |0           |
|6921366    |1                     |XEENON TECHNOLOGIES INC.                     |07132173000102      |37                   |2004-07-28               |863 |***000278**        |RITA DE CASSIA CHAGAS         |17                                 |0           |
|4761416    |3                     |ANDALUSITE CORPORATION LTD.                  |null                |37                   |2001-11-12               |863 |***772605**        |OSNEVALDO COSTA DE OLIVEIRA   |17                                 |0           |
|5686868    |1                     |ZATTAR SAAD HOLDINGS INC.                    |37853613000181      |37                   |2020-11-25               |863 |***671658**        |CECILIA SAAD                  |17                                 |0           |
|1816623    |3                     |GRISTON INTERNATIONAL LTD                    |null                |37                   |2000-06-07               |863 |***691088**        |FERNANDO BERNARDES PINHEIRO   |17                                 |0           |
|5703610    |1                     |ARGON CORPORATE GROUP INC                    |26874017000161      |37                   |2018-09-27               |863 |***358176**        |MARCOS JOSE MELO              |17                                 |0           |
|53633178   |3                     |CALYPSO CAPITAL HOLDINGS LTD.                |null                |37                   |1999-12-30               |863 |***935128**        |GISELE SZENKLEWSKI            |17                                 |0           |
|4761416    |3                     |FALIMA INVESTMENTS LIMITED                   |null                |37                   |2001-11-12               |863 |***772605**        |OSNEVALDO COSTA DE OLIVEIRA   |17                                 |0           |
|53633178   |3                     |BLUE DIAMOND BUSINESS INC.                   |null                |37                   |2000-01-19               |863 |***935128**        |GISELE SZENKLEWSKI            |17                                 |0           |
|21365940   |1                     |VISIONONE WORLWIDE LTD                       |12393585000136      |37                   |2017-12-08               |863 |***365778**        |RAFAEL ALBERTO GRIJALBA FILHO |17                                 |0           |
|25108764   |1                     |OLD OAK HOLDING COMPANY LTD.                 |26603854000156      |79                   |2017-12-27               |863 |***251227**        |MARIA DE NAZARE MONTEIRO DINIZ|17                                 |0           |
|7865881    |1                     |UNION LINK HOLDINGS CORPORATION              |08034367000138      |37                   |2006-01-31               |863 |***227298**        |MARCIO KLEBER COSTA PINTO     |5                                  |0           |
|2291072    |3                     |INTERFACTO INTERNATIONAL INVESTMENTIS S/A    |null                |37                   |1998-12-01               |863 |***846318**        |MARCUS SCHALLDACH             |17                                 |0           |
|26329608   |1                     |LIFEWORK MANAGEMENT CORP.                    |27724854000177      |37                   |2018-03-23               |863 |***488288**        |EDUARDO GUIMARAES ZAMBRONE    |17                                 |0           |
|15060677   |1                     |ATD INTERNATIONAL CONSULTING INC.            |24992682000124      |37                   |2016-07-20               |863 |***371459**        |ALEJANDRO MALUENDA PARDOS     |17                                 |0           |
+-----------+----------------------+---------------------------------------------+--------------------+---------------------+-------------------------+----+-------------------+------------------------------+-----------------------------------+------------+
only showing top 20 rows

In [ ]:
socios.na.fill('-').show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|        411|                     2|         LILIANA PATRICIA ...|         ***678188**|                   22|               1994-07-25|null|        ***000000**|                    -|                                  0|           7|
|        411|                     2|         CRISTINA HUNDERTMARK|         ***637848**|                   28|               1994-07-25|null|        ***000000**|                    -|                                  0|           7|
|       5813|                     2|         CELSO EDUARDO DE ...|         ***786068**|                   49|               1994-05-16|null|        ***000000**|                    -|                                  0|           8|
|       5813|                     2|         EDUARDO BERRINGER...|         ***442348**|                   49|               1994-05-16|null|        ***000000**|                    -|                                  0|           5|
|      14798|                     2|          HANNE MAHFOUD FADEL|         ***760388**|                   49|               1994-06-09|null|        ***000000**|                    -|                                  0|           8|
|      14798|                     2|             CLOD ASSAD FADEL|         ***205668**|                   22|               1994-06-09|null|        ***000000**|                    -|                                  0|           6|
|      17826|                     2|            WALKYRIA ALGARVES|         ***689078**|                   49|               1997-02-27|null|        ***000000**|                    -|                                  0|           7|
|      17826|                     2|         SEBASTIAO JADIR T...|         ***904728**|                   49|               2009-08-13|null|        ***000000**|                    -|                                  0|           5|
|      19491|                     2|              JOSE JOAO ADAMO|         ***235698**|                   49|               1994-06-15|null|        ***000000**|                    -|                                  0|           7|
|      19491|                     2|         ROSEMARY CANTUARI...|         ***959818**|                   49|               1994-06-15|null|        ***000000**|                    -|                                  0|           6|
|      27848|                     2|         MARCOS AURELIO MOTTA|         ***262857**|                   49|               1994-07-18|null|        ***000000**|                    -|                                  0|           7|
|      27848|                     2|         EDVAN CANDIDO ALE...|         ***460998**|                   22|               1994-07-18|null|        ***000000**|                    -|                                  0|           5|
|      35232|                     2|           JAIME MOURE COLINO|         ***565078**|                   49|               1994-10-20|null|        ***000000**|                    -|                                  0|           6|
|      35232|                     2|         SANDRA APARECIDA ...|         ***120938**|                   49|               1996-06-28|null|        ***000000**|                    -|                                  0|           6|
|      35232|                     2|         LEIDA MARQUES PER...|         ***395928**|                   49|               1996-06-28|null|        ***000000**|                    -|                                  0|           6|
|      56221|                     2|         DONZILIA FERREIRA...|         ***904307**|                   49|               1994-04-27|null|        ***000000**|                    -|                                  0|           8|
|      56221|                     2|         ISRAEL AMERICANO ...|         ***571606**|                   22|               1994-04-24|null|        ***000000**|                    -|                                  0|           5|
|      82946|                     2|         VALERIA RIBEIRO T...|         ***438401**|                   22|               1994-06-01|null|        ***000000**|                    -|                                  0|           6|
|      82946|                     2|         CARLOS RAFAEL DO ...|         ***701279**|                   49|               2009-09-22|null|        ***000000**|                    -|                                  0|           5|
|      85894|                     2|         IVAN MARQUEZ DE M...|         ***342771**|                   49|               1982-06-08|null|        ***000000**|                    -|                                  0|           7|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
only showing top 20 rows

## Ordenando os dados

[DataFrame.orderBy(*cols, **kwargs)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.orderBy.html)

In [ ]:
socios\
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .orderBy('ano_de_entrada', ascending=False)\
    .show(5, False)

+----------------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social           |faixa_etaria|ano_de_entrada|
+----------------------------------------+------------+--------------+
|KASSIANO RODRIGO KICHILESKI             |4           |2021          |
|LEONARDO MENNA BARRETO LARANJA GONCALVES|5           |2021          |
|MANOEL ADRIANO COSTA BARBOSA            |6           |2021          |
|ANTONOALDO GRANGEON TRANCOSO NEVES      |5           |2021          |
|MARIA SUELY DE MOURA                    |5           |2021          |
+----------------------------------------+------------+--------------+
only showing top 5 rows

In [ ]:
socios\
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .orderBy(['ano_de_entrada', 'faixa_etaria'], ascending=[False, False])\
    .show(10, False)

+-------------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social        |faixa_etaria|ano_de_entrada|
+-------------------------------------+------------+--------------+
|MARIA RAIMUNDA DOS SANTOS LANZA      |9           |2021          |
|RENILDE DAS GRACAS MAIA              |9           |2021          |
|DORIS PEREIRA GOMES JAZRA            |9           |2021          |
|MARIA JOSE DOMINGUES BONATO          |9           |2021          |
|ZELIA MARIA CAMARA RODRIGUES DA SILVA|9           |2021          |
|JOSE DA SILVA                        |9           |2021          |
|DEMOSTENES JACOB HUHN PINTO          |9           |2021          |
|NADIR BICHARA CHUAHY                 |9           |2021          |
|DEIA DA CUNHA BECK PINTO             |9           |2021          |
|REYNALDO FIORIO                      |9           |2021          |
+-------------------------------------+------------+--------------+
only showing top 10 rows

## Filtrando os dados

[DataFrame.where(condition)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.where.html) ou [DataFrame.filter(condition)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.filter.html)

In [ ]:
empresas\
    .where("capital_social_da_empresa>1000000000").show(truncate=False)

+-----------+------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                                           |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|6352117    |REBOUCAS E CIA LTDA.                                                    |2062             |49                         |2.9202702116E10          |3               |null                       |
|21199157   |TECHNO-CELLS INDUSTRIA DE SEMICONDUTORES SOLARES ES LTDA.               |2062             |5                          |3.0159349E9              |5               |null                       |
|34298743   |TVGD HOLDING LTDA                                                       |2240             |49                         |1.0E10                   |5               |null                       |
|9203283    |GILDASIO FERNANDES FONSECA                                              |2135             |50                         |5.2102967809E10          |1               |null                       |
|8842690    |ATVOS AGROINDUSTRIAL PARTICIPACOES S.A. - EM RECUPERACAO JUDICIAL       |2054             |64                         |8.19789190757E9          |5               |null                       |
|33113309   |VALID SOLUCOES S A                                                      |2046             |16                         |1.01870638331E9          |5               |null                       |
|2003575    |COMPANHIA CEARENSE DE TRANSPORTES METROPOLITANOS                        |2038             |16                         |1.9414E9                 |5               |null                       |
|10733201   |ALUMINA LIMITED DO BRASIL S.A.                                          |2054             |16                         |1.744341566E9            |5               |null                       |
|10743640   |VALDECIR LUCAS WISCHINHESKI                                             |2135             |50                         |1.410746046E9            |1               |null                       |
|26352830   |DE PARTICIPACOES LTDA                                                   |2062             |49                         |1.4125E9                 |5               |null                       |
|20023328   |THUNNUS PARTICIPACOES S.A.                                              |2054             |5                          |2.422964321E9            |5               |null                       |
|13976157   |E.M.I.A. GLOBAL COMERCIALIZADORA LTDA                                   |2062             |49                         |2.738E9                  |5               |null                       |
|18891185   |COMPANHIA DO METRO DA BAHIA                                             |2054             |16                         |1.745342E9               |5               |null                       |
|15179682   |RHODIA POLIAMIDA E ESPECIALIDADES SA                                    |2054             |10                         |1.16032733493E9          |5               |null                       |
|60518222   |BANCO SUMITOMO MITSUI BRASILEIRO S A                                    |2054             |10                         |1.559699344E9            |5               |null                       |
|58518069   |EMPRESA METROPOLITANA DE TRANSPORTES URBANOS DE SAO PAULO S.A. - EMTU/SP|2011             |16                         |2.40889266482E9          |5               |null                       |
|74340936   |MAR HOLDING PARTICIPACOES S.A.                                          |2054             |16                         |1.36221131984E9          |5               |null                       |
|4169992    |VICUNHA STEEL S/A                                                       |2054             |10                         |1.13178713493E9          |5               |null                       |
|49925225   |BANCO ITAULEASING S.A.                                                  |2054             |10                         |8.415391654E9            |5               |null                       |
|9032846    |MARLI BARBOSA SILVA                                                     |2135             |50                         |2.6102778771E10          |1               |null                       |
+-----------+------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 20 rows

In [ ]:
socios\
    .select("nome_do_socio_ou_razao_social").show(truncate=False)

+-------------------------------+
|nome_do_socio_ou_razao_social  |
+-------------------------------+
|LILIANA PATRICIA GUASTAVINO    |
|CRISTINA HUNDERTMARK           |
|CELSO EDUARDO DE CASTRO STEPHAN|
|EDUARDO BERRINGER STEPHAN      |
|HANNE MAHFOUD FADEL            |
|CLOD ASSAD FADEL               |
|WALKYRIA ALGARVES              |
|SEBASTIAO JADIR TEIXEIRA NUNES |
|JOSE JOAO ADAMO                |
|ROSEMARY CANTUARIA AFONSO ADAMO|
|MARCOS AURELIO MOTTA           |
|EDVAN CANDIDO ALENCAR          |
|JAIME MOURE COLINO             |
|SANDRA APARECIDA CRUZ LEONE    |
|LEIDA MARQUES PEREIRA VICENTE  |
|DONZILIA FERREIRA REGO         |
|ISRAEL AMERICANO REGO          |
|VALERIA RIBEIRO TEIXEIRA       |
|CARLOS RAFAEL DO LIVRAMENTO    |
|IVAN MARQUEZ DE MOURA          |
+-------------------------------+
only showing top 20 rows

In [ ]:
socios\
    .select("nome_do_socio_ou_razao_social")\
    .where(socios.nome_do_socio_ou_razao_social.startswith("Lucas".upper()))\
    .where(socios.nome_do_socio_ou_razao_social.endswith("dos Santos".upper()))\
    .limit(10)\
    .toPandas()

        nome_do_socio_ou_razao_social
0            LUCAS PEREIRA DOS SANTOS
1          LUCAS RODRIGUES DOS SANTOS
2  LUCAS DA SILVA PRUDENTE DOS SANTOS
3             LUCAS MENDES DOS SANTOS
4     LUCAS AURELIO ARAUJO DOS SANTOS
5           LUCAS BERGAMIM DOS SANTOS
6             LUCAS BORGES DOS SANTOS
7      LUCAS ROGERIO FAZAN DOS SANTOS
8            LUCAS PEREIRA DOS SANTOS
9       LUCAS WESLEY SILVA DOS SANTOS

# Atividade 2
Para aqueles que não fizeram

# Atividade 3
Considerando como entrada os DataFrames `socios` e `empresas`.

1. Criar um DataFrame contendo as empresas que possuem sócios que ingressaram a mais de 50 anos na empresa.
DICA: utilizar select() e where().

2. A partir do DataFrame do passo 1, crie uma lista contendo o cnpj das empresas com sócios antigos.
DICA: utilize select() seguido da operação collect() para extrair uma lista contendo os cnpj.

Solução esperada
>>> [Row(cnpj_basico=1414), Row(cnpj_basico=2323), Row(cnpj_basico=1616), ...]

3. Transforme a lista do passo 2 em uma lista contendo apenas o número do cnpj em cada elemento.

Solução esperada
>>> [1414,2323,1616,...]

4. Filtrar do DataFrame `empresas` apenas as empresas com os cnpj da lista do passo 3.  
Dica: utilize a operação `isin()` dentro do `where()` de forma que a lista de cnpj sirva como filtro.  

5. Verificar o capital social da empresa das empresas que possuem os sócios antigos.

6. Devolver dois Dataframes
  - membros_antigos: contendo uma coluna com os nomes dos socios mais antigos
  - capital_empresas_membros_antigos: contendo todas as colunas de `empresas` com a filtragem aplicada

In [38]:
socios_50anos = socios\
.select('cnpj_basico','nome_do_socio_ou_razao_social',f.year('data_de_entrada_sociedade').alias('ano_entrada'))\
.where('ano_entrada<=1973')

In [43]:
var = socios_50anos.select('cnpj_basico').collect()

list

In [53]:
lista_cnpjs = []
for linha in var:
  lista_cnpjs.append(linha.cnpj_basico)

print(lista_cnpjs, len(lista_cnpjs))

[7256928, 7256928, 7923816, 7923816, 17418401, 28676161, 28854982, 32508681, 33342890, 33863218, 42275818, 46105938, 46105938, 57565186, 57565186, 62799291, 62799291, 75806703, 75806703, 79115416, 82983115, 88337365, 88644851, 88644851, 96201868, 96201868, 97445415, 14269437, 14269437, 16242562, 16242562, 16800831, 16800831, 19213172, 19213172, 21528047, 30096374, 30096374, 33933870, 43913912, 60812963, 60812963, 62986898, 76621499, 78356045, 9428541, 9428541, 9428541, 17384553, 17384553, 17384553, 23640196, 23640196, 23640196, 23640196, 23640196, 23640196, 33016825, 33216565, 33216565, 33216565, 33437492, 33437492, 44179992, 44217354, 45185352, 45185352, 45421690, 45518990, 45518990, 49042732, 49042732, 58156563, 62091897, 62091897, 76599901, 76599901, 76730076, 76730076, 87866273, 92711134, 16671604, 16671604, 18161232, 21993068, 24986481, 29884947, 33992298, 34267047, 34290023, 44497584, 50945765, 50945765, 60943826, 61444246, 75938860, 79118758, 80562739, 87155354, 96306683, 17202482, 17202482, 33101460, 33101460, 33121740, 47121447, 62220132, 62220132, 81829855, 81829855, 81829855, 81829855, 81829855, 4899464, 17112541, 25338401, 43256429, 44593333, 44593333, 53409462, 62024260, 62024260, 62606959, 76522192, 76522192, 76718352, 76718352, 80710395, 80710395, 82713041, 86158532, 88668066, 112508, 8079469, 8260549, 15247158, 15247158, 16624199, 17170044, 17170044, 17189242, 17189242, 17189242, 17189242, 17189242, 17189242, 17189242, 23640238, 23640238, 29955515, 29955515, 30090781, 33144882, 33144882, 33144882, 33299280, 43223817, 44283521, 44990950, 44990950, 49875917, 49875917, 54018635, 54018635, 60397783, 62012869, 62012869, 62012869, 80001456, 83156075, 83156075, 87829206, 1816222, 1816222, 43699123, 59608216, 59608216, 60931011, 60931011, 61755450, 62752514, 62752514, 62850078, 92852565, 5031240, 5031240, 14077481, 27072396, 33156100, 51552347, 51552347, 57010480, 58264409, 61005658, 61005658, 62050752, 62050752, 62298187, 88089040, 88209846, 92189513, 92189513, 92707819, 92707819, 98525215, 3384, 3349388, 3349388, 10111854, 22829055, 29328846, 29328846, 33061102, 42142489, 42142489, 43522879, 43522879, 50968791, 61483962, 82792334, 86251196, 92830447, 6290456, 13209895, 17437898, 17437898, 19125749, 19125749, 27177468, 43324847, 44848687, 56371628, 61570495, 62178306, 62190210, 62190210, 62190210, 62190210, 62190210, 62300512, 63089379, 71448377, 76710805, 76710805, 83647420, 83647420, 14601173, 14601173, 17452129, 33196247, 33196247, 43238120, 44477495, 44477495, 44477495, 44477495, 82807165, 92753508, 1299569, 1299569, 34122796, 34122796, 43483650, 43483650, 44888873, 49621311, 49621311, 58130881, 61252540, 61252540, 61731865, 61808507, 85459956, 85459956, 98112519, 1466845, 1466845, 1466845, 1466845, 7271042, 7271042, 10574937, 19691351, 19691351, 28763118, 28763118, 28763118, 33360439, 33360439, 33360439, 33360439, 43403427, 45474822, 48392591, 49978190, 52437050, 52437050, 52437050, 52437050, 52437050, 61350229, 61519898, 61519898, 87193223, 87193223, 10974921, 10974921, 17689837, 33265950, 33877358, 43849504, 43849504, 51829752, 51829752, 55339931, 62676523, 62676523, 75058685, 75058685, 77883429, 87826251, 87826251, 87826251, 4962494, 17414111, 19645928, 29316676, 29316676, 31118169, 42138289, 42138289, 43359272, 51831428, 52075405, 52075405, 59325332, 60536950, 87851697, 87851697, 87851697, 88666193, 88666193, 91589630, 91589630, 93015139, 359679, 359679, 2189748, 19717206, 21328695, 28141166, 28141166, 30074843, 30074843, 31952591, 31952591, 33165333, 33710989, 43330661, 44356079, 50482280, 59329839, 59329839, 60494036, 60494036, 62063938, 62063938, 62934617, 76662113, 82806175, 83647669, 89988778, 89988778, 16533861, 28531838, 28745719, 28757029, 31732050, 34108076, 34293662, 45403052, 45512142, 45512142, 57519092, 59764894, 81156846, 81156846, 82771270, 4811428, 24990897, 28518710, 29032752, 33012113, 33012113, 33097932, 33366956, 33616293, 43095421, 43095421, 43455344, 43746783, 43746783, 43746783, 52714102, 52714102, 53859468, 53859468, 60572963, 60864659, 82767187, 91619346, 96738802, 6603625, 6603625, 13575014, 13575014, 17179763, 21606561, 22268486, 30075675, 33035197, 33398637, 44631679, 51483303, 60838323, 82636135, 87253738, 87253738, 87253738, 87253738, 91059931, 91260166, 98248644, 98338619, 98518517, 331488, 7265770, 7265770, 7402845, 16686487, 44421964, 51424596, 51424596, 51424596, 61576906, 62054655, 62278510, 62865514, 85130151, 85130151, 85130151, 85130151, 85130151, 85130151, 85130151, 85130151, 87748497, 92815216, 97838684, 97838684, 9684309, 20496246, 20496246, 30758346, 31127806, 31127806, 43520063, 48694111, 48694111, 50326776, 50326776, 59114587, 59757468, 59757468, 75174490, 75174490, 76494475, 76494475, 76494475, 78635679, 86547650, 92785856, 92785856, 92785856, 92785856, 367029, 13544838, 32165656, 33957127, 33957127, 34272427, 60399938, 61203956, 61203956, 61531794, 72821887, 75341271, 75341271, 1567668, 7201163, 7201163, 23070600, 23070600, 33193632, 43209279, 43209279, 43209279, 43624915, 43624915, 44473817, 44473817, 54965082, 54965082, 59145243, 60884228, 60884228, 60884228, 62062203, 62062203, 62335450, 62335450, 62600325, 62600325, 62600325, 62714860, 71040653, 75922575, 87314100, 87547675, 98106339, 6262596, 16525859, 28672053, 28672053, 33443250, 33443250, 33443250, 42166660, 42166660, 42276857, 46237301, 60414786, 60771995, 60771995, 61733242, 82775842, 82775842, 85776052, 87229092, 10879641, 10879641, 10914042, 18154328, 27654631, 27654631, 27654631, 33743600, 33743600, 33743600, 60629383, 77764447, 82657248, 82790692, 85780773, 85780773, 86050705, 13034657, 15880107, 15880107, 29295110, 29295110, 33302092, 33302092, 43525765, 43891514, 43891514, 53414819, 54404918, 59275156, 59275156, 61288031, 62627633, 84590413, 86548203, 87111563, 24161598, 30558266, 32500118, 33977323, 33977323, 43057454, 43057454, 44282879, 44282879, 44282879, 49031636, 59964924, 60450129, 61191276, 75170415, 84720218, 88623798, 88623798, 8270790, 8270790, 8270790, 28054120, 33887522, 43612316, 46024808, 46024808, 59168161, 62420062, 62420062, 62577820, 84947290, 87310793, 7275084, 7275084, 7275084, 7275084, 9759069, 15148935, 15148935, 17394578, 27096346, 28629335, 28629335, 33402355, 33421082, 33789751, 43557222, 46193066, 55991806, 60440781, 61008314, 61008314, 61008314, 61541389, 62478953, 62478953, 62560826, 78591146, 78591146, 92889120, 33160912, 33209826, 33456450, 34069385, 34386912, 42148288, 42148288, 43677343, 43751668, 44614600, 57569113, 59114967, 59114967, 61202693, 62126701, 62126701, 62476114, 75755637, 7081375, 10849743, 33440322, 33440322, 33586546, 42282673, 45273406, 46743977, 46743977, 49031610, 51830727, 75894816, 92995943, 92995943, 92995943, 9923384, 9923384, 19870385, 21568084, 21568084, 24156820, 43463298, 44175305, 52775616, 59145011, 59145011, 62129150, 62773163, 62773163, 79539292, 33213059, 33213059, 33510371, 34148924, 34148924, 45987989, 45987989, 45987989, 45987989, 51806669, 51806669, 52164530, 52164530, 62299292, 62299292, 62299292, 70942842, 70942842, 78145950, 78361995, 92693092, 92693092, 92693092, 92693092, 1527225, 7202880, 7202880, 7202880, 27058239, 27058239, 33304353, 43383017, 43749340, 60519345, 60519345, 61238465, 77678183, 90050592, 91063263, 91063263, 92833870, 92833870, 92833870, 92833870, 92833870, 92833870, 92833870, 92833870, 19361273, 19361273, 19361273, 19361273, 19791177, 42262675, 42262675, 43264589, 48203582, 61025201, 61025201, 82896242, 82896242, 86047073, 92889070, 96739321, 96739321, 1594185, 1594185, 28131613, 28131613, 33207952, 33224056, 43352327, 43352327, 45356219, 45356219, 50115906, 51470581, 51470581, 51470581, 51470581, 59767855, 62552872, 62552872, 62774732, 76589779, 83570721, 83570721, 88667167, 88667167, 90304064, 13071717, 13071717, 17968173, 17968173, 27100429, 27100429, 31173776, 31173776, 33860180, 33860180, 43960434, 44815462, 44815462, 61067617, 61489183, 61700324, 61700324, 61998878, 62382445, 75042317, 94745478, 16776619, 16776619, 17200460, 17688029, 17688029, 23192594, 27491745, 28806867, 31512726, 32296378, 42308155, 42308155, 45047305, 50221035, 52041928, 52396348, 60887908, 60887908, 61529889, 62909585, 62909585, 75176859, 75605659, 79848826, 9946054, 9946054, 29764461, 29764461, 29764461, 43150259, 44808855, 59602821, 59602821, 61446803, 61446803, 75260620, 75260620, 76696145, 85378628, 87113049, 96207584, 98110810, 98110810, 6259535, 6259535, 6259535, 6870752, 6870752, 29316197, 30556856, 30556856, 52877917, 52877917, 76497742, 76507706, 76507706, 76507706, 78615556, 13030234, 13030234, 31954100, 33939000, 33939000, 43314459, 45024577, 60732443, 61150793, 61430484, 61927448, 61927448, 75050898, 75606822, 75606822, 76509876, 81558264, 81558264, 92766658, 19191600, 25211244, 28553121, 43592823, 46050464, 46050464, 48543896, 48543896, 50758762, 61351763, 61351763, 78142833, 78142833, 78142833, 78142833, 78142833, 78142833, 78142833, 78142833, 84263037, 84263037, 84263037, 87144408, 87144408, 88327408, 98108251, 98108251, 33111097, 34014381, 62189238, 75192369, 75192369, 76728716, 76728716, 76728716, 77808400, 85778595, 8749368, 8749368, 14773634, 27916535, 27916535, 29371523, 29371523, 32408809, 32408809, 43353051, 43353051, 43712595, 43712595, 43766161, 44564839, 50470343, 62725114, 62725114, 75316778, 75316778, 78065661, 87178976, 87178976, 17943044, 32176851, 32176851, 43676071, 43676071, 43930270, 43930270, 49797897, 60910833, 60910833, 61253647, 61554887, 82638511, 88328398, 88649520, 89889265, 89889265, 89889265, 92775329, 13003918, 17712043, 33081571, 33367491, 33509605, 33591652, 43629245, 43629245, 43629245, 43833300, 43833300, 44273506, 44273506, 60597770, 62133459, 70035084, 87648184, 6137483, 6137483, 7197478, 7197478, 7324254, 13512033, 13512033, 20467346, 20467346, 34294108, 34294108, 45670742, 50932458, 50932458, 57026726, 57026726, 82583568, 3620291, 3620291, 17363003, 20605820, 33727868, 33727868, 61509790, 61603098, 61603098, 80723653, 80723653, 82769555, 3118791, 13543897, 14465272, 14465272, 17160987, 20082947, 27065127, 28518900, 28518900, 30536304, 30536304, 30550495, 30743025, 30743025, 30743025, 30743025, 42281485, 45509247, 53412904, 60583630, 83309401, 87094769, 89844195, 95211629, 29066362, 33655044, 33655044, 44385805, 44832053, 44832053, 44832053, 61159562, 61159562, 75894626, 82547985, 82547985, 97751895, 15226962, 15226962, 30543060, 33456492, 33456492, 45362092, 52405933, 52405933, 57030413, 61849477, 76701606, 89729156, 4682242, 4682242, 8219685, 25298944, 25298944, 30108377, 30108377, 33326885, 33326885, 44589307, 44589307, 44589307, 48294003, 54843040, 54843040, 54843040, 60788015, 62359773, 62359773, 73053654, 73053654, 73053654, 13869458, 17076753, 27396985, 27396985, 33235656, 33235656, 42235606, 43519669, 43519669, 50157080, 60811528, 61833349, 76523182, 81571325, 92201094, 92752757, 92752757, 10764483, 16678831, 17498692, 28519874, 28763142, 31167778, 33086810, 34004218, 42114934, 43481035, 43481035, 44764140, 56350895, 60707205, 60707205, 60707205, 61492096, 61646097, 62791702, 82981853, 87543856, 87543856, 88539788, 88539788, 8813727, 9948787, 9948787, 33795683, 33795683, 43147289, 43147289, 43147289, 43654342, 43714369, 43714369, 45358140, 52557451, 56895063, 62180690, 62652912, 62652912, 75170092, 75170092, 75170092, 88552120, 4401469, 21550470, 60894516, 60894516, 61747705, 61747705, 87580387, 92975341, 7228422, 7228422, 7228422, 11313823, 11313823, 32504904, 34012088, 43346816, 43346816, 44357390, 44357390, 87736443, 92020585, 92660760, 92660760, 92660760, 92660760, 92660760, 92660760, 92660760, 10786598, 10786598, 29389608, 29389608, 33560467, 33560467, 34267054, 34267054, 42179853, 45060845, 56992837, 56992837, 62203955, 62203955, 76518695, 76518695, 85459964, 85459964, 23121478, 43218684, 43436682, 43436682, 45993698, 62182555, 87149290, 87149290, 8666448, 8666448, 9922956, 12276747, 15252141, 15252141, 27397371, 42184044, 42184044, 43011659, 43011659, 44191534, 45405941, 51662617, 52769833, 53410049, 58170689, 76194554, 76483015, 82803206, 82803206, 1024208, 8895810, 16603201, 16603201, 28908499, 28908499, 34141671, 34354456, 34354456, 50469006, 50469006, 58162496, 76515311, 76515311, 83269506, 83269506, 83269506, 98512411, 1152684, 1270073, 7192859, 7192859, 8397366, 8931473, 10248615, 10248615, 10884468, 10884468, 10884468, 10884468, 15127046, 44348183, 45989027, 49079130, 49079130, 60878873, 61178380, 75178186, 84584986, 84584986, 89425235, 89425235, 19278464, 42211839, 42211839, 45237211, 55325831, 56994544, 56994544, 61707386, 61707386, 75637462, 75637462, 76599919, 77771848, 77771848, 88611496, 88613211, 88613419, 88613419, 88613419, 89261648, 89261648, 89261648, 96417936, 96736582, 5604509, 5604509, 8879910, 17157595, 21554324, 21554324, 33242819, 33242819, 33300559, 33961244, 44850063, 57501728, 60588274, 61140448, 61140448, 61371159, 61588802, 61588802, 61962924, 87498010, 87498010, 88666813, 92691401, 92886100, 92886100, 92886100, 4219895, 7200165, 7200165, 7288467, 7288467, 7288467, 7288467, 7288467, 7288467, 17513110, 17513110, 19718816, 20467247, 20467247, 34075853, 44218592, 44218592, 45171303, 45171303, 52971934, 60590403, 62860796, 62860796, 71873665, 81126328, 81126328, 81126328, 81126328, 81126328, 81126328, 81356628, 81356628, 82638099, 91684761, 91684761, 92794924, 12190849, 14531859, 14531859, 17961335, 17961335, 27031004, 27031004, 33304130, 33304130, 33304130, 55343388, 59767756, 59767756, 60798717, 60878345, 61410429, 61410429, 72280654, 72280654, 87061420, 87061420, 87061420, 87773552, 10780575, 10780575, 13075452, 13075452, 19437144, 19437144, 33061714, 33892266, 33892266, 43551274, 43551274, 45987104, 45987104, 49871528, 49871528, 51806990, 57494379, 57494379, 60707585, 84262773, 92875285, 95620647, 95620647, 95620647, 16245649, 17498155, 28853885, 28853885, 43484302, 43484302, 43625789, 43625789, 43712926, 43777366, 43777366, 60627122, 60627122, 60869120, 76108653, 76108653, 6710735, 6710735, 7199888, 7199888, 25840430, 43962554, 54228093, 54228093, 54228093, 60763604, 75403022, 75403022, 76506583, 76506583, 91665471, 91665471, 91673152, 1255769, 15127210, 45235199, 45235199, 51424398, 56372410, 56575384, 60190865, 62679170, 71129662, 4210399, 10781490, 10781490, 10781490, 16586356, 16586356, 17491127, 23350283, 23350283, 23350283, 28934370, 28934370, 31732183, 31732183, 46051405, 46051405, 46744280, 48321996, 58197120, 60960457, 63020747, 63020747, 78141678, 78141678, 82761321, 82761321, 83901009, 10930451, 23655301, 31132749, 33315169, 33351750, 33351750, 33351750, 33865502, 43214485, 43797265, 43797265, 44186625, 44391746, 44807295, 45258456, 45258456, 49072291, 49072291, 58230830, 58230830, 58230830, 60416674, 61291191, 62941430, 62941430, 71107577, 71107577, 71107577, 71107577, 71107577, 71107577, 75524389, 95437471, 22155741, 29690179, 30742555, 33619925, 45995792, 45995792, 60817251, 60817251, 60818580, 60818580, 76486406, 76496116, 79860268, 82759671, 82759671, 82759671, 82759671, 4215232, 17316076, 17316076, 25767906, 25767906, 33067380, 33298027, 34272492, 60683729, 60833209, 60833209, 61072625, 62345699, 2192722, 4898441, 4898441, 4898441, 4898441, 8406217, 8406217, 8406217, 8406217, 8406217, 8406217, 10660736, 10660736, 10932416, 10932416, 10932416, 17174640, 17174640, 17292491, 17476466, 34049932, 41076134, 43067511, 56998925, 60674280, 75662973, 80222409, 81635450, 81635450, 86244449, 86244449, 92666247, 94853298, 94853298, 94853298, 94853298, 94853298, 1583947, 13565080, 13565080, 13565080, 15127061, 17510546, 17730987, 17743618, 31951189, 31951189, 45991312, 50708742, 57030926, 75270843, 75270843, 83188482, 83188482, 83188482, 83188482, 83188482, 1307283, 11816866, 11816866, 11816866, 11816866, 11816866, 11816866, 19986421, 23647688, 28135143, 28167450, 28167450, 28167450, 43235886, 43607456, 43954833, 43954833, 43954833, 45114964, 61676318, 77855625, 77855625, 77855625, 82735317, 82735317, 82735317, 83314757, 84900984, 84900984, 3317070, 3317070, 8049231, 18885340, 18885340, 33785270, 33785270, 43449172, 43449172, 43571538, 43571538, 43727817, 43727817, 48539985, 48539985, 52504024, 57743262, 61247813, 61247813, 62012463, 62012463, 62467329, 3178200, 8715989, 9934506, 14005797, 17171778, 27186253, 28685980, 28685980, 33164732, 33164732, 43565886, 54387576, 60461233, 62028022, 62492582, 62492582, 62966320, 16832826, 18783019, 18783019, 20368908, 25765280, 33021395, 43371442, 43659952, 44626422, 44759173, 45248564, 45929379, 59604827, 60464575, 60636966, 61516795, 61516795, 75285163, 75285163, 87858114, 87858114, 89733661, 89733661, 10798494, 31462203, 31462203, 31569353, 31569353, 33016478, 33575424, 43555929, 43555929, 50949536, 50949536, 51473163, 60657376, 75983965, 82831579, 87277414, 88640982, 17429010, 56996085, 56999451, 60509957, 60509957, 60509957, 60509957, 60509957, 77904035, 87144390, 92955491, 16662447, 16662447, 16662447, 16662447, 33077504, 34143834, 34167262, 43927417, 43927417, 43927417, 44801942, 44801942, 44801942, 61004792, 61004792, 61352902, 61352902, 61644720, 62845177, 62958491, 62974944, 62974944, 62999404, 78782307, 85782878, 1525732, 1525732, 4824769, 4824769, 4824769, 10207256, 10207256, 17458142, 17458142, 20603619, 20603619, 20603619, 28890572, 28890572, 28956654, 34069278, 43232875, 43232875, 43588995, 45518172, 54392659, 61532370, 61532370, 61697116, 72909583, 72909583, 96736442, 96736442, 3208121, 3208121, 12301636, 12301636, 15198740, 16051187, 28512275, 28674810, 28674810, 28768976, 28768976, 28773307, 44582997, 86048121, 87754693, 87754693, 12187092, 13007794, 13007794, 13826896, 13826896, 17288044, 17288044, 17288044, 32176836, 43541861, 43541861, 45993607, 45993607, 52236791, 59612374, 59612374, 60874484, 61620936, 61620936, 3233469, 6258891, 6258891, 33192923, 33192923, 43267343, 43550995, 46084224, 46084224, 60566973, 60875465, 61428991, 61658274, 61658274, 81568602, 82660317, 82660317, 10798296, 14520365, 17194838, 17194838, 17194838, 17194838, 17194838, 17901315, 27825108, 42303222, 45405461, 58141250, 58141250, 58239062, 58239062, 60421260, 61052999, 61052999, 76551647, 90455874, 10801223, 10801223, 21600598, 21600598, 27084474, 27084474, 27084474, 33807280, 47494117, 55191290, 55191290, 55191290, 55191290, 55191290, 57015984, 61405312, 62973649, 62973649, 75047266, 75203679, 80711633, 80711633, 87274379, 88623772, 88623772, 11016359, 28810299, 43468248, 43468248, 43468248, 43585553, 60814266, 61443560, 61489878, 62182977, 63023287, 63023287, 63023287, 63023287, 90392366, 90392366, 92790278, 15185895, 23537087, 33766163, 34036608, 50973775, 50973775, 60861739, 60861739, 62806096, 82718941, 82718941, 87515037, 9690025, 9690025, 16634701, 33644584, 43510023, 44631489, 44631489, 44631489, 44631489, 44631489, 44631489, 55357404, 61262812, 62207048, 62297163, 62297163, 62386438, 62522024, 62689872, 70940861, 70940861, 98674708, 10259773, 28929156, 43357508, 43357508, 44718252, 62402391, 62402391, 62504691, 62504691, 87854543, 97579742, 97579742, 7203003, 9462904, 9462904, 13529623, 13529623, 16667891, 16667891, 17276510, 17276510, 30125645, 33628959, 33628959, 34172122, 43497247, 43635440, 43942374, 46023149, 46023149, 46023149, 46023149, 46023149, 46023149, 46023149, 46023149, 46023149, 46023149, 46192464, 46192464, 50950625, 52568037, 60597812, 60848991, 62492285, 62492285, 84232685, 84232685, 84232685, 84232685, 84232685, 95111449, 353102, 1215763, 4835526, 4835526, 4835526, 4835526, 12173555, 12173555, 12685764, 12685764, 17399189, 17877622, 17877622, 42132456, 43337633, 43432665, 45968096, 45968096, 60874278, 60874278, 60874278, 60874278, 61946794, 61946794, 62489067, 62489067, 63063382, 78518297, 80010853, 80010853, 83663229, 83663229, 84374834, 84374834, 84374834, 84374834, 84374834, 84374834, 95442380, 15134794, 15134794, 15134794, 15134794, 16669442, 28139913, 28139913, 33067364, 33146564, 33150095, 33150095, 34267039, 34267039, 43832278, 49911910, 49911910, 50220938, 50220938, 60693561, 61115952, 62956974, 75167049, 75596064, 75596064, 75596064, 87173100, 871731

In [ ]:
#Compressão de listas (list comprehension)
lista_cnpjs = [linha.cnpj_basico for linha in var]

In [69]:
empresas_filtrado_lista_cnpjs = empresas[empresas.cnpj_basico.isin(lista_cnpjs)]

In [71]:
empresas_filtrado_lista_cnpjs

DataFrame[cnpj_basico: int, razao_social_nome_empresarial: string, natureza_juridica: int, qualificacao_do_responsavel: int, capital_social_da_empresa: double, porte_da_empresa: int, ente_federativo_responsavel: string]

In [73]:
capital_empresas_membros_antigos = empresas_filtrado_lista_cnpjs.select('capital_social_da_empresa')

In [74]:
membros_antigos = socios_50anos.select('nome_do_socio_ou_razao_social')

In [78]:
capital_empresas_membros_antigos.show(50,truncate=False)

+-------------------------+
|capital_social_da_empresa|
+-------------------------+
|0.0                      |
|0.0                      |
|0.0                      |
|100000.0                 |
|0.0                      |
|5300000.0                |
|4100000.0                |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|1000.0                   |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|50000.0                  |
|0.0                      |
|100000.0                 |
|0.0                      |
|0.0                      |
|0.0                      |
|6000.0                   |
|140000.0                 |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|1000000.0                |
|0.0                      |
|0.0                      |
|20000.0                  |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|0.0                      |
|3700000.0                |
|10000.0                  |
|0.0                      |
|5000.0                   |
|0.0                      |
|100000.0                 |
+-------------------------+
only showing top 50 rows

# Aula 14/11
1. Revisão
2. LIKE
3. Agregações
4. Junções

In [80]:
df = spark.createDataFrame([('RESTAURANTE DO RUI',), ('Juca restaurantes ltda',), ('Joca Restaurante',)], ['nome empresa'])
df.toPandas()

             nome empresa
0      RESTAURANTE DO RUI
1  Juca restaurantes ltda
2        Joca Restaurante

In [96]:
df.filter(f.upper(df['nome empresa']).like('%RESTAURANTE%')).show(5,truncate=False)

+----------------------+
|nome empresa          |
+----------------------+
|RESTAURANTE DO RUI    |
|Juca restaurantes ltda|
|Joca Restaurante      |
+----------------------+

In [108]:
empresas.filter(f.upper(empresas['razao_social_nome_empresarial']).like('%LAN HOUSE%')).count()

307

# Agregação

# Agregações e Junções
---

[DataFrame.groupBy(*cols)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.groupBy.html)

[DataFrame.agg(*exprs)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.agg.html)

[DataFrame.summary(*statistics)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.summary.html)

> Funções:
[approx_count_distinct](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.approx_count_distinct.html) |
[avg](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.avg.html) |
[collect_list](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.collect_list.html) |
[collect_set](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.collect_set.html) |
[countDistinct](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.countDistinct.html) |
[count](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.count.html) |
[grouping](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.grouping.html) |
[first](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.first.html) |
[last](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.last.html) |
[kurtosis](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.kurtosis.html) |
[max](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.max.html) |
[min](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.min.html) |
[mean](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.mean.html) |
[skewness](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.skewness.html) |
[stddev ou stddev_samp](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.stddev.html) |
[stddev_pop](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.stddev_pop.html) |
[sum](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.sum.html) |
[sumDistinct](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.sumDistinct.html) |
[variance ou var_samp](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.variance.html) |
[var_pop](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.var_pop.html)

In [110]:
capital_empresas_membros_antigos.printSchema()

root
 |-- capital_social_da_empresa: double (nullable = true)

In [133]:
empresas\
.groupBy(empresas.porte_da_empresa.alias('porte'))\
.agg(f.avg('capital_social_da_empresa').alias('media')).show()

+-----+------------------+
|porte|             media|
+-----+------------------+
| null|  8.35421888053467|
|    1|339994.53313506936|
|    3|2601001.7677092673|
|    5| 708660.4208249798|
+-----+------------------+

In [141]:
from datetime import datetime, date
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(nome='joao', a=1, idade=4, c='GFG1', d=date(2000, 8, 1),
        e=datetime(2000, 8, 1, 12, 0)),

    Row(nome='maria', a=2, idade=8, c='GFG2', d=date(2000, 6, 2),
        e=datetime(2000, 6, 2, 12, 0)),

    Row(nome='helena', a=4, idade=5, c='GFG3', d=date(2000, 5, 3),
        e=datetime(2000, 5, 3, 12, 0))
])

DataFrame[summary: string, nome: string, a: string, idade: string, c: string]

In [146]:
empresas\
.select('capital_social_da_empresa').summary('mean','max','min').show()

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|   mean|        503694.5478542675|
|    max|         3.22014670262E11|
|    min|                      0.0|
+-------+-------------------------+

In [144]:
df.summary('mean','max').show()

+-------+-----+------------------+-----------------+----+
|summary| nome|                 a|            idade|   c|
+-------+-----+------------------+-----------------+----+
|   mean| null|2.3333333333333335|5.666666666666667|null|
|    max|maria|                 4|                8|GFG3|
+-------+-----+------------------+-----------------+----+

# Atividade 4

Considerando como entrada os DataFrames `estabelecimentos` e `empresas`.

0. Utilize a função `when()` para criar um DataFrame que separe as empresas em dois grupos empresas sem capital social (quando o capital social = 0) e empresas com capital social.

DICA3: A função `when()` é útil para criar uma seleção com alguma condição:
```python
from pyspark.sql import functions as f
df = spark.createDataFrame([('joao',15), ('mariana',26), ('helena',30)], ['nome','idade'])
df.select(f.when(df["idade"] > 18, 'adulto').otherwise('crianca').alias("fase")).show()
```

1. Separe do seu DataFrame do passo 1 aquelas empresas que possuem capital social e guarde o novo DataFrame em `empresas_com_capital`.

2. A partir de `empresas_com_capital`, ordene pelo capital social e utilize a função `monotonically_increasing_id()` para criar uma nova coluna com os indices em um novo DataFrame chamado `empresas_capital_ordenado_idx`.

> DICA: inclua uma coluna contendo um índice incremental para identificar a empresas de maneira ordenada com `monotonically_increasing_id()`.

> Obs: A função `monotonically_increasing_id()` é utilizada para quando você precisa criar uma coluna com IDs únicos que crescem monotonicamente, esses IDs não possuem números consecutivos, porém eles não se repetem e são crescentes (o que é necessário para filtrar dentro dos grupos de percentil).

3. A partir do DataFrame `empresas_capital_ordenado_idx`, utilize a função `summary()` seguida de `when()` para agrupar as empresas que possuem capital social dentro do grupo de 25%, 50% (retirando as empresas que caíram no 25%), 75% (retirando as empresas que caíram no 25% e 50%), 100% percentil (retirando as empresas que caíram no 25%, 50% e 75%). Nomeie esses grupos como `grupo1`, `grupo2`, `grupo3`, `grupo4`.

DICA: Para conseguir aplicar o `when()` você deve ter o id que identifica a empresa que inicia cada percentil. Para encontrar os ids dos grupos de percentil basta aplicar o summary() em `empresas_capital_ordenado_idx`.

# Atividade 5


1. A partir do DataFrame `empresas`, crie um DataFrame `empresas_por_setor` que possui todas as empresas que são de um tipo específico (p.exemplo "mercado", "boate", "igreja") considere três setores. Nomeie esses grupos como `setor1`, `setor2`, `setor3`.

DICA: utilizar o método `like()`.

2. A partir do DataFrame `empresas_por_setor` crie um novo DataFrame contendo três colunas `setor`, `capital_medio`, `numero_de_empresas`, `capital_total_do_grupo`. Cada coluna contém os seguintes dados:

- `setor`: nome do setor escolhido,
- `capital_medio`: media do capital capita_social_da_empresa de cada setor,
- `numero_de_empresas`: contador de empresas dentro de cada setor,
- `capital_total_do_grupo`: somatório dos capitais das empresas do grupo

Exemplo de como utilizar o `agg()` em um DataFrame agrupado:
```python
empresas\
.select('cnpj_basico','porte_da_empresa', 'capital_social_da_empresa')\
.groupBy('setor')\
.agg(
  f.avg('capital_social_da_empresa').alias('capital_medio'),
  f.count('cnpj_basico').alias('frequencia')
)\
.orderBy('capital_social_da_empresa', ascending=True)\
.show()
```

Exemplo do uso do f.avg() e do f.count()

In [183]:
empresas_medio = empresas\
.limit(100).select('cnpj_basico','porte_da_empresa', 'capital_social_da_empresa')\
.groupBy('porte_da_empresa')\
.agg(
  f.avg('capital_social_da_empresa').alias('capital_medio'),
  f.count('cnpj_basico').alias('frequencia'),
)\
.orderBy('capital_medio', ascending=True)
empresas_medio.show()

+----------------+-------------+----------+
|porte_da_empresa|capital_medio|frequencia|
+----------------+-------------+----------+
|               3|          0.0|         1|
|               5|       156.25|        64|
|               1|       3600.0|        35|
+----------------+-------------+----------+

Exemplo do `when()`

In [151]:
df = spark.createDataFrame([('joao',15), ('mariana',26), ('helena',30)], ['nome','idade'])
df.select(f.when(df["idade"] > 18, 'adulto').otherwise('crianca').alias("fase")).show()

+-------+
|   fase|
+-------+
|crianca|
| adulto|
| adulto|
+-------+

In [192]:
# Exemplo com criação de somatório
df = spark.createDataFrame(
[(2, "A" , "A2" , 2500),
(2, "A" , "A11" , 3500),
(2, "A" , "A12" , 5500),
(4, "B" , "B25" , 7600),
(4, "B", "B26" ,5600),
(5, "C" , "c25" ,2658),
(5, "C" , "c27" , 1100),
(5, "C" , "c28" , 1200)],
['parent', 'group' , "brand" , "usage"])


# Group by and sum to get the totals
totals = df.groupBy(['group','parent'])\
.agg(f.sum('usage').alias('usage'))\
.withColumn('brand', f.lit('Total'))
# create a temp variable to sort
totals = totals.withColumn('sort_id', f.lit(2))
df = df.withColumn('sort_id', f.lit(1))
df.unionByName(totals).sort(['group','sort_id']).drop('sort_id').show()
totals.show()

+------+-----+-----+-----+
|parent|group|brand|usage|
+------+-----+-----+-----+
|     2|    A|  A12| 5500|
|     2|    A|  A11| 3500|
|     2|    A|   A2| 2500|
|     2|    A|Total|11500|
|     4|    B|  B25| 7600|
|     4|    B|  B26| 5600|
|     4|    B|Total|13200|
|     5|    C|  c25| 2658|
|     5|    C|  c28| 1200|
|     5|    C|  c27| 1100|
|     5|    C|Total| 4958|
+------+-----+-----+-----+

+-----+------+-----+-----+-------+
|group|parent|usage|brand|sort_id|
+-----+------+-----+-----+-------+
|    A|     2|11500|Total|      2|
|    B|     4|13200|Total|      2|
|    C|     5| 4958|Total|      2|
+-----+------+-----+-----+-------+

In [186]:
totals.show()

+-----+------+-----+
|group|parent|usage|
+-----+------+-----+
|    A|     2|11500|
|    B|     4|13200|
|    C|     5| 4958|
+-----+------+-----+